APP_NAME=posts-service
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8002

DB_CONNECTION=mysql
DB_HOST=db-posts
DB_PORT=3306
DB_DATABASE=posts_db
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_TTL=60

LIGHTHOUSE_SCHEMA_CACHE_ENABLE=false